@import "../../lib/mixins.scss";

$size: 6px;

#canvas {
	height: $size*30;
	width: $size*30;
	@include user-select(none);
	& > span {		
		float: left;
		&.checked {
			& > span > span > span {
				border-color: rgba(170, 170, 170, 1);
				height: $size - 2;
				width: $size - 2;
			}
		}
		&.hover,
		&:hover {
			outline: 2px solid rgba(192, 20, 20, 0.5);	
		}
		& > span {
			display: table;
			height: $size;
			width: $size;
			& > span {
				display: table-cell;
				vertical-align: middle;
				& > span {
					display: block;
					height: 0;
					width: 0;
					margin: auto;
					border: 1px solid rgba(238, 238, 238, 1) {
						radius: $size;
					};
				}
			}
		}
	}
}

#ui {
	@include user-select(none);
	cursor: default;
	& > fieldset {
		float: left;
		position: relative;
		z-index: 0;
		& > fieldset {
			border: {
				bottom: none;
				left: none;
				right: none;
			};
			text-align: right;
			&:last-child {
				margin-bottom: 0;
			}
			& > legend {
				text-align: left;
			}
			& > div {
				margin: 1em auto;
			}
		}
		input[type="text"] {
			cursor: text;
		}
		input[type="text"] {
			width: 5em;
		}
		select {
			width: 5.48em;
		}
		label,
		input[type="button"],
		button {
			cursor: pointer;
		}
		textarea {
			height: 487px;
			width: 357px;
		}
		&.ui-floating-toolbar {
			border: none;
			padding: 0;
			position: absolute;
			& > button {
				float: left;
				&:first-child {
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
					margin-right: 0;
				}
				&:last-child {
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;
					margin-left: 0;
				}
				&.ui-button-icon-only {
					&:hover {
						position: relative;
						&:after {
							content: attr(value);
							box-shadow: 0 0 5px #888;
							display: block;
							position: absolute;
							top: 100%;
						}
					}
				}
			}
			&#extrapolate_properties_toolbar {
				background-color: #FFF;
			}
		}
	}
}